[Unit]
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/server
ExecStart=/usr/local/bin/docker-compose up backup
ExecStop=/usr/local/bin/docker-compose down -t 60 backup

[Install]
WantedBy=multi-user.target
