[Unit]
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/server
ExecStart=/usr/local/bin/docker-compose up %i
ExecStop=/usr/local/bin/docker-compose down -t 60 %i
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
